.login-pf body {
  background: #323232;
  background-size: cover;
  height: 100%;
  color: #f5f5f5;
}
.login-pf body a {
  color: #d9c69e;
}

.pf-c-button {
  height: 50px;
  border-radius: 25px;
  font-weight: bold;
}

.pf-c-button.pf-m-primary {
  background-color: #d9c69e;
  color: #323232;
}

.pf-c-button.pf-m-primary:disabled {
  background-color: grey;
  color: #f5f5f5;
}

.form-group {
  color: #f5f5f5;
}

.card-pf {
  background-color: #2c2b29;
  border-color: #d9c69e;
}

.pf-c-form-control {
  border-radius: 15px;
  border-bottom: transparent;
}
